.counter .container {
    max-width: 600px;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    background-color: blueviolet;
    border-radius: 8px;
    padding: 4em 2em;
    color: #fff;
    font-family: sans-serif;
}

.counter .input-text {
    display: block;
    margin: 2rem auto;
    width: 350px;
    height: 3rem;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
}

.counter .button {
    padding: 1em 3em;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
}

.counter .button:hover {
    opacity: 0.7;
    transform: scale(105%);
}

.counter .button + .button {
    margin-left: 2em;
}
